{{/* layouts/partials/extend_head.html */}}
{{/* Head custom content area start */}}
{{/*     Insert any custom code (web-analytics, resources, etc.) - it will appear in the <head></head> section of every page. */}}
{{/*     Can be overridden by a partial with the same name in the global layouts. */}}
{{/* UnoCSS utility classes - must be loaded before other custom styles */}}
<link rel="stylesheet" href="/css/uno.css">
{{- if and (eq .Type "donatev1") (not (.Param "donateRouter")) }}
<!-- Content Security Policy for payment form; allows Stripe -->
<meta http-equiv="Content-Security-Policy" content="
  default-src 'self';
  script-src 'self' https://js.stripe.com https://static.cloudflareinsights.com;
  style-src 'self' 'unsafe-inline';
  img-src 'self' data: https:;
  frame-src 'self' https://js.stripe.com;
  connect-src 'self' https://api.stripe.com https://skovgard2026-api.anchorskov.workers.dev http://localhost:8787 http://127.0.0.1:8787 https://cloudflareinsights.com;
  base-uri 'self';
" />
{{- end }}
<meta name="pm-default-theme" content="{{ site.Params.defaultTheme | default "auto" }}">
<meta name="pm-disable-theme-toggle" content="{{ site.Params.disableThemeToggle | default false }}">
<meta name="pm-show-code-copy" content="{{ .Param "ShowCodeCopyButtons" | default false }}">
<link rel="stylesheet" href="/css/global.css">
<link rel="stylesheet" href="/css/forms.css">
{{- with .Params.extraCss }}
  {{- range . }}
    {{- $sourcePath := printf "static/css/%s" . }}
    {{- $targetPath := printf "assets/page-css/%s" . }}
    {{- $style := resources.FromString $targetPath (readFile $sourcePath) | fingerprint }}
<link rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}" crossorigin="anonymous">
  {{- end }}
{{- end }}
{{- if and (eq .Type "donatev1") (not (.Param "donateRouter")) }}
<link rel="stylesheet" href="/css/donateV1.css">
{{- end }}
{{- if eq .Type "donate-router" }}
<link rel="stylesheet" href='{{ "css/donate.css" | relURL }}'>
{{- end }}
{{- if eq .Section "finance" }}
<link rel="stylesheet" href="/css/finance.css">
{{- end }}
{{/* Head custom content area end */}}
