<!-- layouts/shortcodes/finance_contributions_pdfs.html -->
{{/* Show only the newest contributions PDF. Filenames must be YYYY-MM-Contributions.pdf. */}}
{{- $dir := .Get "dir" -}}
{{- if not $dir -}} {{ errorf "finance_contributions_pdfs shortcode requires dir parameter" }} {{- end -}}

{{- $files := readDir $dir -}}
{{- $pdfs := slice -}}
{{- range $files -}}
  {{- $name := .Name -}}
  {{- if and (not .IsDir) (or (hasSuffix $name ".pdf") (hasSuffix $name ".PDF")) (not (hasPrefix $name "latest-")) -}}
    {{- $pdfs = $pdfs | append . -}}
  {{- end -}}
{{- end -}}

{{- if gt (len $pdfs) 0 -}}
  {{- $sorted := sort $pdfs "Name" "desc" -}}
  {{- $latest := index $sorted 0 -}}
  {{- $url := printf "/%s/%s" (replace $dir "static/" "" ) $latest.Name -}}

  {{- $label := "" -}}
  {{- if ge (len $latest.Name) 7 -}}
    {{- $ym := slicestr $latest.Name 0 7 -}}
    {{- $when := time (print $ym "-01") -}}
    {{- $label = time.Format "January 2006" $when -}}
  {{- end -}}
  {{- if eq $label "" -}}
    {{- $label = "Current Month" -}}
  {{- end -}}

  <p><a href="{{ $url }}">{{ $label }} Contributions (PDF)</a></p>
{{- else -}}
  <em>No contribution PDFs found in {{ $dir }}.</em>
{{- end -}}
